django
psycopg2-binary
celery
gunicorn
requests
sorl-thumbnail
optisorl
django-htmlmin
django-cachalot
django-redis
django-meta
django-gulp
python-cloudflare-v4
django-daterange-filter
django_summernote
Pillow
raven
