body {
    background: $base-bg;
    color: $base-fg;
    direction: ltr;
    display: flex;
    flex-direction: column;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $font-size;
    line-height: 1.5em;
    min-height: 100vh;
    min-width: $min-width;
    text-align: left;
    width: 100%;

    @media all and (max-width: $narrow-screen * 1.5) {
        font-size: $font-size / 1.1;
    }
}

.page-wrapper {
    flex: 1 0 0%;
    width: 100%;

    @media all and (max-width: $narrow-screen) {
        overflow-x: hidden;
    }
}

.page {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
    width: 100%;

    @media all and (max-width: $narrow-screen) {
        width: 200%;

        &.shifted {
            transform: translateX(-45%);
        }
    }

    .content {
        flex-grow: 1;
        padding-bottom: 4em;
        width: 75%;

        @media all and (max-width: $narrow-screen) {
            flex-grow: 0;
            width: 50%;
        }
    }
}

.svg-symbols {
    display: none;
}
