{% load thumbnail %}

{% if adverts.sidebar_top.all %}
{% for advert in adverts.sidebar_top %}
<div class="sidebar-partner-box-top">
    <a href="{{advert.link}}" target="_blank" style="background-image: url('//static2.krimi-plzen.cz/media/{{advert.image_desktop}}');" alt=""></a>
</div>
{% endfor %}
{% endif %}

{% if show.similar and sidebar.similar.all %}
    <div class="sidebar-articles">
        {% for article in sidebar.similar %}
            {% thumbnail article.cover_photo "400x200" crop="center" as cover_s %}
            {% thumbnail article.cover_photo "400x200" crop="center" format="WEBP" as cover_webp %}
            <a href="/a/{{ article.slug }}" class="sidebar-articles-image-card" style="background-image: url('{{cover_s.url}}'); background-image: image-set(url('{{cover_webp.url}}') 1x, url('{{cover_s.url}}') 1x); background-image: -webkit-image-set(url('{{cover_webp.url}}') 1x, url('{{cover_s.url}}') 1x);">
                {% endthumbnail %}
                {% endthumbnail %}
                <div class="sidebar-articles-image-card-text">
                    <div class="title">{{ article.title }}</div>
                    <div class="meta">{{ article.time_created|date:"j. E Y H:i" }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if show.dogs and sidebar.dogs.all %}
    <div class="sidebar-animals">
        <h2>Psi přijatí do útulku</h2>
        {% for animal in sidebar.dogs %}
            <a target="_blank" href="{{ animal.link }}" class="sidebar-animals-card">
                <div class="sidebar-animals-card-image">
                    <picture>
                        {% thumbnail animal.photo "90x90" crop="center" format="WEBP" as im %}
                            <source srcset="{{ im.url }} 90w" type="image/webp">
                        {% endthumbnail %}
                        {% thumbnail animal.photo "90x90" crop="center" as im %}
                            <source srcset="{{ im.url }} 90w" type="image/jpeg">
                            <img src="{{ im.url }}" alt="{{ article.title }}">
                        {% endthumbnail %}
                    </picture>
                </div>
                <div class="sidebar-animals-card-text">
                    {{ animal.text }}
                </div>
            </a>
        {% endfor %}
        <a target="_blank" href="http://utulekplzen.cz/category/aktualne-prijati-psi/" class="shelter-link">Další psy najdete na utulekplzen.cz&nbsp;&rarr;</a>
    </div>
{% endif %}

{% if adverts.sidebar_middle.all %}
{% for advert in adverts.sidebar_middle %}
<div class="sidebar-partner-box-middle">
    <a href="{{advert.link}}" target="_blank" style="background-image: url('//static2.krimi-plzen.cz/media/{{advert.image_desktop}}');" alt=""></a>
</div>
{% endfor %}
{% endif %}

{% if calendar %}
    <div id="cal" class="sidebar-articles sidebar-calendar">
        <h2>Archiv</h2>
        <header class="sidebar-calendar-header">
            {% if calendar.prev %}
                <a class="sidebar-calendar-button" href="/archiv/{{calendar.prev|date:'Y-m-d'}}/#cal">&larr;</a>
            {% endif %}
            <h3 class="sidebar-calendar-month">
                {% if archive_days %}
                    {{ archive_days.current|date:'F Y' }}
                {% else %}
                    {% now 'F Y' %}
                {% endif %}
            </h3>
            {% if calendar.next %}
                <a class="sidebar-calendar-button" href="/archiv/{{calendar.next|date:'Y-m-d'}}//#cal">&rarr;</a>
            {% endif %}
        </header>
        <div class="sidebar-calendar-week">
            <span class="sidebar-calendar-dayname">Po</span>
            <span class="sidebar-calendar-dayname">Út</span>
            <span class="sidebar-calendar-dayname">St</span>
            <span class="sidebar-calendar-dayname">Čt</span>
            <span class="sidebar-calendar-dayname">Pá</span>
            <span class="sidebar-calendar-dayname">So</span>
            <span class="sidebar-calendar-dayname">Ne</span>
        </div>
        <div class="sidebar-calendar-days">
            {% for day in calendar.days %}
                {% if day.is_past %}
                    <a class="sidebar-calendar-day{% if forloop.counter == 1 %} day-{{calendar.first_weekday}}{% endif %}"
                     href="/archiv/{{day.date|date:'Y-m-d'}}//#cal">
                        {{ day.date|date:'j' }}
                    </a>
                {% else %}
                    <span class="sidebar-calendar-day{% if forloop.counter == 1 %} day-{{calendar.first_weekday}}{% endif %}">
                        {{ day.date|date:'j' }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if sidebar.missing.all %}
    <div class="sidebar-articles">
        <h2>Pátrání</h2>
        {% for article in sidebar.missing %}
            <a href="/a/{{ article.slug }}" class="sidebar-articles-card">
                <div class="sidebar-articles-card-image">
                    <picture>
                         {% thumbnail article.cover_photo "90x90" crop="center" format="WEBP" as im %}
                           <source srcset="{{ im.url }} 90w" type="image/webp">
                         {% endthumbnail %}

                        {% thumbnail article.cover_photo "90x90" crop="center" as im %}
                            <source srcset="{{ im.url }} 90w" type="image/jpeg">
                            <img src="{{ im.url }}" alt="{{ article.title }}">
                        {% endthumbnail %}
                    </picture>
                </div>
                <div class="sidebar-articles-card-text">
                    {{ article.title }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if sidebar.specials.all %}
    <div class="sidebar-articles">
        <h2>Speciály</h2>
        {% for article in sidebar.specials %}
            <a href="/a/{{ article.slug }}" class="sidebar-articles-card">
                <div class="sidebar-articles-card-image">
                    <picture>
                        {% thumbnail article.cover_photo "90x90" crop="center" format="WEBP" as im %}
                          <source srcset="{{ im.url }} 90w" type="image/webp">
                        {% endthumbnail %}
                        {% thumbnail article.cover_photo "90x90" crop="center" as im %}
                            <source srcset="{{ im.url }} 90w" type="image/jpeg">
                            <img src="{{ im.url }}" alt="{{ article.title }}">
                        {% endthumbnail %}
                    </picture>
                </div>
                <div class="sidebar-articles-card-text">
                    {{ article.title }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}


{% if adverts.sidebar_bottom.all %}
{% for advert in adverts.sidebar_bottom %}
<div class="sidebar-partner-box-middle">
    <a href="{{advert.link}}" target="_blank" style="background-image: url('//static2.krimi-plzen.cz/media/{{advert.image_desktop}}');" alt=""></a>
</div>
{% endfor %}
{% endif %}


{% if sidebar.police.all %}
    <div class="sidebar-articles">
        <h2>Představujeme Policii</h2>
        {% for article in sidebar.police %}
            <a href="/a/{{ article.slug }}" class="sidebar-articles-card">
                <div class="sidebar-articles-card-image">
                    <picture>
                        {% thumbnail article.cover_photo "90x90" crop="center" format="WEBP" as im %}
                          <source srcset="{{ im.url }} 90w" type="image/webp">
                        {% endthumbnail %}
                        {% thumbnail article.cover_photo "90x90" crop="center" as im %}
                            <source srcset="{{ im.url }} 90w" type="image/jpeg">
                            <img src="{{ im.url }}" alt="{{ article.title }}">
                        {% endthumbnail %}
                    </picture>
                </div>
                <div class="sidebar-articles-card-text">
                    {{ article.title }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}
