table#admin-article-list {
	width: 100%;
	/*text-shadow: 1px 1px 0px #fff;*/

	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	margin-bottom: 2rem;
}

table#admin-article-list{
	color:#666;
	background:#eaebec;
}

table#admin-article-list tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table#admin-article-list tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}

table#admin-article-list td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table#admin-article-list td {
	padding: 0.35rem;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table#admin-article-list tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table#admin-article-list tr:last-child td {
	border-bottom:0;
}
table#admin-article-list tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table#admin-article-list tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table#admin-article-list tr:hover td:not(.category) {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


table#admin-article-list td img{
	width: 3rem;
}


table#admin-article-list td.title{
	font-weight: bold;
}

table#admin-article-list td.photo{
	width: 3rem;
}

table#admin-article-list td.timestamp, table#admin-article-list td.title{
	padding: 0 1rem 0 1rem;
}

table#admin-article-list td.timestamp{
	text-align: right;
}

table#admin-article-list td.category{
	width: 3rem;
	padding: 0;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	cursor: pointer;
}

table#admin-article-list td.category.z{
	background-image: url("/images/style/z.svg");
}

table#admin-article-list td.category.o{
	background-image: url("/images/style/o.svg");
}

table#admin-article-list td.category.pravni-minimum-ulice{
	background-size:   cover;
	background-image: url("/images/style/pravni-minimum-ulice.svg");
}


table#admin-article-list td.buttons{
	text-align: center;
}


table#admin-article-list td.buttons button{
	margin: 0;
	width: 6rem;
}

table#admin-article-list tr:not(.publishedtrue){
	opacity: 0.35;
}

table#admin-article-list tr td input.recommend{
margin: 0 0.5rem 0 0.5rem;
}