.hidden{
	display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fdfdfd;
	color: #000;
	font-size: 14pt;
}

section#page{
    margin: 0 auto;
}

section#content{
	float: left;
	width: 70%;
	padding: 0 2rem 0 1rem;
}

section#page.admin section#content{
	width: 100%;
}

section#sidebar{
	background: #fefefe;
    background: linear-gradient(to right, #eee 0%, #fefefe 5%);
	float: right;
	width: 30%;
	margin-top: -2.25rem;
	font-size: 0.9em;
}

section#sidebar h2{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #0065a4;
	margin-top: 0.1rem;
	font-size: 1.5em;
	width: 100%;
	font-weight: 300;
}

iframe{
	width: 100%;
}

a, a:link, a:visited{
	color: #1E5169;
}

a:hover{
	color: #0065a4;
}

ul, ol{
	list-style-position: inside;
}

@media all and (max-width: 65em){
    section#sidebar{
        width: 100%;
        float: none;
        margin-top: 10rem;
    }

    section#sidebar .article-slug h1{
        max-height: 1.25em !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    section#content{
        width: 100%;
        float: none;
    }
}

/* 1.25 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
    body{
        font-size: 206%;
    }
}

/* 1.3 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.3),
(min-resolution: 124.8dpi){
    body{
        font-size: 215%;
    }
}

/* 1.5 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    body{
        font-size: 247%;
    }
}

/* 2 dpr */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    body{
        font-size: 330%;
    }
}
