.hidden{
	display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fdfdfd;
	color: #000;
}

section#page{
	margin: 0 auto 3rem 0;
}


section#page.admin{
	width: 90%;
}

section#content{
	float: left;
	width: 75%;
	padding: 1rem 2rem 0 1rem;
}

section#page.admin section#content{
	width: 100%;
}

section#sidebar{
	background: #fff;
	float: right;
	width: 25%;
	margin: 1.1rem 0 2rem;
	font-size: 0.9em;
	-webkit-box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 1000px){
	section#sidebar{
		width: 100%;
		float: none;
		margin-top: 10rem;
	}

	section#sidebar .article-slug h1{
	max-height: 1.25em !important;
	text-overflow: ellipsis;
	overflow: hidden;
}

	section#content{
		width: 100%;
		float: none;
	}
}

section#sidebar h2{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #0065a4;
	margin-top: 0.1rem;
	font-size: 1.75em;
	width: 100%;
	font-weight: 300;
}

iframe{
	width: 100%;
}

a, a:link, a:visited{
	color: #1E5169;
}

a:hover{
	color: #0065a4;
}

ul, ol{
	list-style-position: inside;
}