.hidden{
	display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #fdfdfd;
	color: #000;
	/*background-image: url("/images/style/bg.png");*/
}

section#page{
	min-width: 960px;
	margin: 0 auto 3rem;
}

section#content-wrapper{
	width: 85%;
	margin: 0 auto;
}

@media all and (max-width: 1440px){
	section#content-wrapper{
		width: 90%;
	}
}

@media all and (max-width: 1280px){
	section#content-wrapper{
		width: 98%;
	}
}


section#page.admin{
	width: 90%;
}

section#content{
	float: left;
	width: 75%;
	padding: 1rem 2rem 0 2rem;
	/*border: 1px solid red;*/
}

section#page.admin section#content{
	width: 100%;
}

section#sidebar{
	background: #fff;
	float: right;
	width: 25%;
	margin: 1.1rem 0 2rem;
	/*padding: 1rem;*/
	/*border-left: 1px solid #ddd;*/
	-webkit-box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 2rem 0px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 1000px){
	section#sidebar{
		display: none;
	}
	section#content{
		width: 100%;
	}
}

section#sidebar h2{
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #0065a4;
	margin-top: 0.1rem;
	font-size: 1.75em;
	width: 100%;
	font-weight: 300;
}

iframe{
	width: 100%;
}

a, a:link, a:visited{
	color: #1E5169;
}

a:hover{
	color: #0065a4;
}