#photos{
  margin-top: 5rem;
}

#photos a{
  margin: 0 1rem 1rem 0;
}

#photos a:hover{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

#photoViewer{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.95);
  z-index: 9997;
  display: none;
  padding: 1rem;
}

#photoViewer #loading-circle{
  position: fixed;
  left: calc(50vw - 75px);
  top: -8rem;
  z-index: -1 !important;
}


#photoViewer,
#photoViewer *{
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#photoViewer a{
  cursor: pointer;
}

#photoViewer a svg polygon{
  fill:#bbb;
}

#photoViewer a:hover svg polygon{
  fill:#fff;
}


#closeViewer{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: rgba(0,0,0,0.75);
  width: 5rem;
  height: 5rem;
  padding: 0;
}

#closeViewer svg {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}

#currentImage{
  z-index: 9999;
  display: block;
}

#currentImage img{
  max-height: calc(100vh - 6rem);
  max-width: 100%;
}

#viewerNav{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
  text-align: center;
  padding-top: 0.5rem;
  background: rgba(0,0,0,0.75);
}

#viewerNav *{
  display: inline-block;
}

#viewerNav a,
#viewerNav a svg{
  width: 3rem;
  height: 3rem;
}

#viewerNav a.disabled svg polygon,
#viewerNav a.disabled:hover svg polygon{
  color: #aaa;
  cursor: default;
}

#photoCounter{
  font-size: 2rem;
  line-height: 2rem;
  height: 3rem;
  position: relative;
  top: -0.75rem;
  color: #ddd;
}