header#main-header{
	display: flex;
	width: 100%;
	height: 10rem;
	background-color: #000;
	background-image: url('https://farm4.staticflickr.com/3939/15550182360_3bdda84179_o.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 10rem;
	padding: 1rem;
	padding-top: 2rem;
}

header#main-header a.logo{
	cursor: pointer;
	width: 14rem;
	height: 6rem;
	text-align: center;
	text-shadow: 0 0 0.5rem #000;
	text-indent: -9999px;
	background-image: url("/images/style/krimiplzen_logo.png");
	background-size: cover;
	display: block;
}

.featured-article{
	margin-left: 2rem;
	margin-top: 0.5rem;
	width: 21rem;
	height: 6rem;
	padding: 0.5rem;
	display: flex;
	text-decoration: none;
	background: rgba(0,0,0,0.75);
	border-radius: 0.5rem;
}

.featured-article img{
	display: block;
	width: 5rem;
	height: 5rem;
	margin-right: 1rem;
	border-radius: 0.33rem;
}

.featured-article h2{
	color: #fff;
	font-family: "Open Sans Condensed", sans-serif;
	text-transform: uppercase;
	font-size: 1.7rem;
	line-height: 1.5rem;
	margin-bottom: 0.25rem;
}

.featured-article p{
	color: #fff;
	font-size: 0.7em;
	text-overflow: ellipsis;
	color: #ddd;
}

header#main-header p.motto{
	display: none;
}

header#main-header nav#login{
	float: right;
}

section#page.admin header#main-header{
	height: 8rem;
	margin: 0;
	padding: 0;
}

 section#page.admin header#main-header .logo{
 	margin: 0.5rem 0 0.5rem 0;
 }

 	section#header-inner{
		width: 90%;
	}

	header#main-header div#logo{
		margin-bottom: 2.5rem;
	}


@media all and (max-width: 65em){
	header#main-header{
		text-align: center;
    height: 12rem;
    background-position: center center;
    background-size: auto 16rem;
	}

	.featured-article{
		display: none;
	}


	header#main-header a.logo{
	margin-top: 1rem;
	padding: 0;
	width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	header#main-header div#logo{
	margin: 0;
    max-width: 90%;
	}
}
