nav#load-more, nav#under-article-links{
  display: block;
  width: 100%;
}

nav#load-more a, nav#under-article-links a{
  display: inline-block;
  width: 49%;
  height: 7rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.35em;
  margin-bottom: 1.75rem;
  line-height: 1.5em;
  padding-top: 0.6em;
  text-decoration: none;
  color: #1E5169;
  background: #f8f8f8;
  border: 1px solid #eee;
}

nav#load-more a:first-child{
  border-right: 1px solid #efefef;
}

nav#load-more a:hover, nav#under-article-links a:hover{
  background: #0065a4;
  color: #fff;
  z-index: 9990;
}