article.loading{
  display: block;
  margin: 1rem auto;
  width: 10em;
  height: 10em;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
}

#loading-circle {
    background-color: rgba(255,255,255,0.1);
    border: 10px solid rgba(255,255,255,0.75);
    opacity: 0.9;
    border-top: 10px solid rgba(255,255,255,0);
    border-left: 10px solid rgba(255,255,255,0);
    border-radius: 100px;
    box-shadow: 0 0 45px rgba(255,255,255,0.2);
    width: 150px;
    height: 150px;
    margin: 20% auto;
    z-index: 9999;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    -o-animation: spin spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}