nav#load-more, nav#under-article-links{
  display: block;
  width: 100%;
}

nav#load-more a, nav#under-article-links a{
  display: inline-block;
  width: 40%;
  height: 5rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.75em;
  margin-bottom: 1.75rem;
  line-height: 1.5em;
  padding-top: 0.5em;
  text-decoration: none;
  color: #1E5169;
  background: #f8f8f8;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow:    0px 0px 2rem 0px rgba(0, 0, 0, 0.03);
  box-shadow:         0px 0px 2rem 0px rgba(0, 0, 0, 0.03);
}

nav#load-more a:first-child{
  border-right: 1px solid #efefef;
}

nav#load-more a:hover, nav#under-article-links a:hover{
  /*text-decoration: underline;*/
  /*color: #0065a4;
  background: #efefef;*/
  background: #0065a4;
  color: #fff;
  z-index: 9990;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}