nav#login{
	font-family: "DejaVu Sans", "Arial", sans-serif;
  position: absolute;
  left: 0;
  top: 0;
}

a.login-link-text{
	color: rgba(128,128,128,0.15);
  overflow: hidden;
  display: block;
  font-size: 1.25rem;
  width: 6rem;
  height: 2rem;
  display: block;
}

nav#login *{
	float: none;
}

.accounts-dialog{
	margin: 1rem;
}

section#page.admin header#main-header #login-name-link{
	margin-right: 1rem;
}

#login-sign-in-link{
	opacity: 0.25;
}