nav#login{
	font-family: "DejaVu Sans", "Arial", sans-serif;
}

a.login-link-text{
	color: #999;
}

nav#login *{
	float: none;
}

.accounts-dialog{
	margin-left: -5rem;
}

section#page.admin header#main-header #login-name-link{
	margin-right: 1rem;
}

#login-sign-in-link{
	opacity: 0.25;
}