nav#login{
	font-family: "DejaVu Sans", "Arial", sans-serif;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

a.login-link-text{
	color: rgba(128,128,128,0.25);
  font-size: 0.5em;
}

nav#login *{
	float: none;
}

.accounts-dialog{
	margin-left: -25rem;
}

section#page.admin header#main-header #login-name-link{
	margin-right: 1rem;
}

#login-sign-in-link{
	opacity: 0.25;
}