section#missing-persons{
	background: #333;
  background: linear-gradient(to right, #333 0%, #444 5%);
	color: #fff;
	display: none;
}

section#missing-persons.visible{
	display: block;
}


section#missing-persons *{
	color: #fff;
}

section#missing-persons h2{
	color: #fff;
}

section#missing-persons section.article-slug{
	border: none;
	background: transparent;
}

section#missing-persons section.article-slug:not(:last-child){
	border-bottom: 1px solid #3a3a3a;
	background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 75%);
}
