nav#main-nav{
	display: block;
	width: 100%;
	height: 2em;
	margin: 0 0 1em 0;
	padding: 0;
	font-size: 1.25em;
	background-color: #222;
}

nav#main-nav ul{
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav#main-nav ul li{
	float: left;
	width: 12.5%;
	text-align: center;
}

nav#main-nav ul li a{
	margin: 0;
	width: 100%;
	display: block;
	line-height: 2em;
	text-decoration: none;
	background-color: #222;
	border-right: 1px solid #333;
	border-top: 1px solid #333;
	color: #ddd;
	font-family: 'Open Sans Condensed', sans-serif;
}

nav#main-nav ul li:last-child a{
	border-right: none;
}

nav#main-nav ul li a:hover{
	background: #fdfdfd;
	color: #333;
}

nav#main-nav ul li a.active{
	background: #24607d;
}

nav.admin ul li{
	min-width: 50%;
}

@media (orientation: portrait) and (max-device-width: 800px),
(orientation: portrait) and (max-device-width: 1081px){
	nav#main-nav{
		height: 12rem;
	}

	nav#main-nav ul li{
		float: left;
		width: 25%;
		text-align: center;
	}

nav#main-nav ul li:nth-child(4) a{
	border-right: none;
}


	nav#main-nav ul li a{
		line-height: 6rem;
	}
}

@media all and (max-width: 60rem){
	nav#main-nav{
		height: 8rem;
	}

	nav#main-nav ul li{
		float: left;
		width: 25%;
		text-align: center;
	}

nav#main-nav ul li:nth-child(4) a{
	border-right: none;
}


	nav#main-nav ul li a{
		line-height: 4rem;
	}
}
