article.notfound h1, article.notfound h2{
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 6.5em;
	font-weight: 300;
	color: #dedede;
	text-align: center;
}

article.notfound h2{
	color: #999;
	font-size: 2.5em;
}