.partner-box {
    width: 50%;
    background: #ddd;
    border: 0.2em solid #ccc;
    padding: 0;
    display: flex;
    color: #333 !important;
    text-decoration: none;
    transition: all 0.33s;
    font-size: 0.8em;
}

.partner-box:hover {
    background-color: #ccc;
    border-color: #bbb;
}

.partner-text,
.partner-logo {
    padding: 0.5em;
}

.partner-text {
    width: calc(100% - 10em);
    padding-right: 2em;
}

.partner-logo {
    width: 10em;
    text-align: right;
}

.partner-logo img {
    width: 100%;
}

.partner-text h2 {
    font-family: "Open Sans Condensed";
    margin-bottom: 0.5em;
    font-size: 1.667em;
}

.partners-label {
    text-transform: uppercase;
    font-size: 0.7em;
    color: #999;
}

#partners {
    width: 100%;
    margin-bottom: 2em;
    overflow: hidden;
}

#partners-slider {
    display: flex;
}

@media all and (max-width: 65em){
    .partner-box {
        flex-direction: column;
    }

    .partnet-text {
        width: 100%;
        padding-right: 0.5em;
        padding-bottom: 2em;
    }

    .partner-logo {
        width: 100%;
        text-align: center;
    }

    .partner-logo img {
        max-width: 10em;
    }
}
