section#partners img{
	width: 10rem;
}

section#partners img[src*="leiko"] {
	width: 12rem;
}

section#partners img[src*="plzen_cz"] {
	width: 11rem;
}

section#partners img[src*="los"]{
	width: 7rem;
}

section#partners img[src*="cwt"]{
	width: 11rem;
}

section#partners img[src*="policejnidenik"]{
	width: 7.5rem;
}

section#partners img[src*="rescue"]{
	width: 7.5rem;
}

section#partners article.partner{
	text-align: center;
	margin: 1rem 0 1.5rem 0;
}

section#partners a{
	color:#000;
	text-decoration: none;
}

@media all and (max-width: 65em){
	.partner{
		display: inline-block;
	}
	#partners {
		height: 20rem;
	}
	#partners .partner{
		float: left;
		width: 25%;
		text-align: center;
		height: 10rem;
	}
}
