.partner-box {
    width: 50%;
    padding: 0;
    display: flex;
    color: #333 !important;
    text-decoration: none;
    transition: all 0.33s;
    font-size: 0.8em;
    border-radius: 0.33em 0.33em 0.33em 0;
    background: #ddd linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
}

.partner-box:hover {
    background: #ccc;
}

.partner-text,
.partner-logo {
    padding: 0.5em;
}

.partner-text {
    width: calc(100% - 10em);
    padding-right: 2em;
}

.partner-logo {
    width: 10em;
    text-align: right;
}

.partner-logo img {
    width: 100%;
}

.partner-text h2 {
    font-family: "Open Sans Condensed";
    margin-bottom: 0.5em;
    font-size: 1.667em;
}

.partners-heading {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

#partners {
    width: 100%;
    margin-bottom: 2em;
    overflow: hidden;
}

#partners-slider {
    display: flex;
}

#partners-slider.stopped {
    animation: none !important;
}

.partner-radio {
    display: none;
}

.partner-label {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    margin: 0;
    width: 4.45em;
    height: 4.45em;
    border-radius: 0 0 0.33em 0.33em;
    overflow: hidden;
}

.partner-radio:checked + .partner-label {
    background: #ddd linear-gradient(to bottom, #cccccc 0%, #cacaca 100%); 
}

.partner-label img {
    width: 100%;
}

.partner-label-fakebg {
    display: inline-block;
    margin: 0;
    width: 4.45em;
    height: 4.45em;
    border-radius: 0 0 0.33em 0.33em;
    background: #ddd linear-gradient(to bottom, #cccccc 0%,#cacaca 100%); 
    position: relative;
    z-index: -9999;
}

.partner-label-fakebg.hidden {
    animation: none;
    background: transparent;
}

.partners-more {
    display: inline-block;
    float: right;
    font-size: 0.9em;
    color: #999;
    line-height: 4.25em;
    height: 4.25em;
    padding-top: 0.3em;
}

@media all and (max-width: 65em){
    .partner-box {
        flex-direction: column;
    }

    .partner-text {
        width: 100%;
        padding-right: 0.5em;
        padding-bottom: 2em;
    }

    .partner-logo {
        width: 100%;
        text-align: center;
    }

    .partner-logo img {
        max-width: 12em;
    }
}
