.article-content {
    .gallery {
        display: flex;
        flex-wrap: wrap;

        a {
            border: 0.1em solid darken($base-bg, 20%);
            box-shadow: 0 0.1em 0.25em darken($base-bg, 20%);
            display: block;
            margin: 0 1em 1em 0;
            max-width: 10em;
            padding: 0;
            transition: transform 0.33s;
            width: 17%;

            &:hover {
                transform: scale(1.05);
            }

            @media all and (max-width: $narrow-screen * 1.2) {
                width: 20%;
            }

            @media all and (max-width: $narrow-screen / 1.5) {
                margin-right: 0;
                width: calc(50% - #{$spacing / 2});

                &:nth-child(odd) {
                    margin-right: $spacing;
                }
            }

            img {
                margin: 0 0 -0.4em;
            }
        }
    }
}

.gallery-view {
    background: $dark-shadow;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 9999;

    &-close {
        background: $dark-shadow;
        color: $base-bg;
        cursor: pointer;
        height: 2.5rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.5rem;
        z-index: 9999;

        &::after {
            content: "\00D7";
            display: block;
            font-size: 2em;
            height: 2.5rem;
            line-height: 2.5rem;
            text-align: center;
            width: 2.5rem;
        }
    }

    &-image {
        height: calc(100vh - 5em);
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        width: 100%;

        img {
            display: inline-block;
            margin: $spacing 0;
            max-height: calc(100vh - 5em - #{4 * $spacing});
            max-width: 100%;
            z-index: 9998;

            @media all and (max-width: $narrow-screen) {
                max-height: calc(100vh - 3em - #{4 * $spacing});
            }
        }

        &-prev,
        &-next {
            cursor: pointer;
            display: block;
            height: calc(100vh - 5em - #{4 * $spacing});
            line-height: calc(100vh - 5em - #{4 * $spacing});
            position: absolute;
            top: $spacing;
            width: 40vw;
            z-index: 9999;

            img {
                display: inline-block;
                height: 2.5rem;
                margin: $spacing;
                width: 2.5rem;
            }

            @media all and (max-width: $narrow-screen) {
                height: calc(100vh - 3em - #{4 * $spacing});
            }
        }

        &-prev {
            cursor: w-resize;
            left: 0;
            text-align: left;

            img {
                transform: rotate(-90deg);
            }
        }

        &-next {
            cursor: e-resize;
            right: 0;
            text-align: right;

            img {
                transform: rotate(90deg);
            }
        }
    }

    &-controls {
        height: 5em + #{2 * $spacing};
        overflow-x: auto;
        overflow-y: hidden;
        padding: $spacing;
        text-align: center;
        white-space: nowrap;

        @media all and (max-width: $narrow-screen) {
            height: 3em + #{2 * $spacing};
        }

        img {
            border: 0.2em solid $base-fg;
            cursor: pointer;
            display: inline-block;
            height: 5em;
            margin-right: $spacing;
            opacity: 0.75;
            transition: transform 0.33s, opacity 0.33s;
            width: 5em;

            @media all and (max-width: $narrow-screen) {
                height: 3em;
                width: 3em;
            }

            &:hover,
            &:focus {
                opacity: 1;
                transform: scale(1.05);
            }
        }

        .current {
            border-color: $base-bg;
            opacity: 1;
            transform: scale(1.05);
        }
    }
}
