.article-content {
    .gallery {
        display: flex;
        flex-wrap: wrap;

        .thumb {
            background: transparent;
            border: 0.1em solid rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.3);
            display: block;
            margin: 0 1em 1em 0;
            max-width: 10em;
            padding: 0;
            transition: transform 0.33s;
            cursor: zoom-in;

            &:hover {
                transform: scale(1.05);
            }

            @media all and (max-width: $narrow-screen * 1.2) {
                width: 20%;
            }

            @media all and (max-width: $narrow-screen / 1.5) {
                margin-right: 0;
                width: calc(50% - #{$spacing / 2});

                &:nth-child(odd) {
                    margin-right: $spacing;
                }
            }

            img {
                margin: 0 0 -0.4em;
            }
        }
    }
}

.gallery-view {
    background: $dark-shadow;
    bottom: 0;
    display: none;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 9999;

    &.visible {
        display: flex;
    }

    &-close {
        background: $dark-shadow;
        color: $base-bg;
        cursor: pointer;
        height: 2.5rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.5rem;
        z-index: 9999;

        &::after {
            content: "\00D7";
            display: block;
            font-size: 2em;
            height: 2.5rem;
            line-height: 2.5rem;
            text-align: center;
            width: 2.5rem;
        }
    }

    &-images {
        flex-grow: 1;

        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $spacing;
        }

        img,
        picture {
            margin: 0;
            object-fit: contain;
            object-position: center;
            height: calc(100vh - 5em - #{3 * $spacing});
            @media all and (max-width: $narrow-screen) {
                height: calc(100vh - 3em - #{3 * $spacing});
            }
        }
    }

    &-prev,
    &-next {
        cursor: pointer;
        display: block;
        height: calc(100vh - 5em - #{3 * $spacing});
        line-height: calc(100vh - 5em - #{3 * $spacing});
        position: absolute;
        top: $spacing;
        width: 20vw;
        z-index: 9998;

        @media all and (max-width: $narrow-screen) {
            display: none;
        }
    }

    &-prev {
        cursor: w-resize;
        left: 0;
    }

    &-next {
        cursor: e-resize;
        right: 0;
    }

    &-controls {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 $spacing $spacing;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background: transparent;
            height: 5em;
            width: 5em;
            transition: transform 0.33s, opacity 0.33s;
            box-shadow: 0;
            text-shadow: 0;
            margin-right: $spacing;
            opacity: 0.75;

            &:hover,
            &:focus {
                opacity: 1;
                transform: scale(1.05);
            }

            @media all and (max-width: $narrow-screen) {
                height: 3em;
                width: 3em;
            }

            img {
                border: 0.2em solid $base-fg;
                height: 5em;
                width: 5em;
                margin: 0;

                @media all and (max-width: $narrow-screen) {
                    height: 3em;
                    width: 3em;
                }
            }

            &.current {
                opacity: 1;

                img {
                    border-color: $base-bg;
                }
            }
        }
    }
}
