<template name="adminArticleList">
<section id="admin-article-list">
<table id="admin-article-list" class="articles">
{{#each articles}}
	<tr class="published{{is_published}}" data-article="{{_id}}">
		<td class="category {{category}}"></td>
		<td class="photo"><a href="{{pathFor 'articleShow'}}"><img src="{{#if photo_url}}{{photo_url}}{{else}}https://scontent-a-fra.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10404172_261576800702751_5525022015083078099_n.jpg{{/if}}" class="grow"></a></td>
		<td class="title">{{title}}</td>
		<td class="buttons"><input type="checkbox" class="recommend" title="Doporučený" checked="{{#if is_recommended}}true{{/if}}"></td>
		<td class="timestamp">{{day_name}} {{date}}, {{time}}</td>
		{{!-- <td class="intro">{{intro}}</td> --}}
		<td class="buttons"><button class="hide {{is_published}}">{{hide_button_text is_published}}</button></td>
		<td class="buttons"><button class="remove">Smazat</button></td>
		<td class="buttons"><a href="{{pathFor 'adminArticleEdit'}}"><button class="edit">Upravit</button></a></td>
	</tr>
{{/each}}
</table>
</section>
</template>