<template name="articleShow">
{{#with article}}
<article class="article">
{{#if currentUser}}
    <a href="/admin/article/{{slug}}" class="button edit-article">Editovat</a>
  {{/if}}
 	<h1>{{title}}</h1>
	<p class="timestamp">{{author_name}}, {{day_name}} {{date}}, {{time}}</p>
	<p class="intro">{{intro}}</p>
	{{#if youtube_url}}<iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/{{youtube_url}}" frameborder="0" allowfullscreen></iframe>{{/if}}
	{{#markdown}}{{text}}{{/markdown}}
	{{#if photoset}}<div id="photos">{{flickrGallery photoset}}</div>{{/if}}
</article>
<div id='photoViewer'>
  <figure id='currentImage'>
    <picture>
      <source class="b" media="(min-width: 1360px)" srcset="">
      <source class="c" media="(min-width: 800px)" srcset="">
      <source class="z" media="(min-width: 640px)" srcset="">
      <source class="n" media="(min-width: 480px)" srcset="">
      <source class="m" media="(min-width: 320px)" srcset="">
      <source class="def" srcset="">
      <img class="fallback" src="" alt="fotografie &copy; krimi-plzen.cz">
    </picture>
  </figure>
  <div id="loading-circle"></div>
      <a id='closeViewer'><svg x="0px" y="0px" viewBox="0 0 42 42" width="42px" height="42px">
      <polygon points="41.95,8.35 33.6,0 20.97,12.62 8.35,0 0,8.35 12.62,20.97 0,33.6 8.35,41.95 20.97,29.33 33.6,41.95,41.95,33.6 29.33,20.97 "/>
      </svg></a>
  <nav id='viewerNav'>
      <a id='navPrev'><svg x="0px" y="0px" viewBox="0 0 42 42" width="42px" height="42px">
        <polygon points="33.38,0 22.9,0 8.63,21.07 8.62,21.08 22.9,42.14 33.38,42.14 19.09,21.07 "/>
      </svg></a>
      <div id="photoCounter">
        <span id='currentPhotoIndex'>6</span>/<span id='totalPhotos'>&nbsp;</span>
      </div>
      <a id='navNext'><svg x="0px" y="0px" viewBox="0 0 42 42" width="42px" height="42px">
        <polygon points="8.62,0 19.1,0 33.37,21.07 33.38,21.08 19.1,42.14 8.62,42.14 22.91,21.07 "/>
      </svg></a>
      </nav>
      </div>
{{/with}}
{{>underArticleLinks}}
</template>
