<template name="logo">
	<a href="{{pathFor 'newArticles'}}" class="logo grow">
		<div id="logo">
			<h1>Krimi&nbsp;Plzeň</h1>
			<h2>Vše o kriminalitě v Plzni</h2>
		</div>
	</a>
</template>

<template name="featuredArticles">
	{{#each featuredArticles}}
	<a class="featured-article grow" href="/a/{{slug}}">
		<img src="{{image}}" />
		<div>
			<h2>{{linkHeader}}</h2>
			<p>{{linkText}}</p>
		</div>
	</a>
	{{/each}}
</template>

<template name="header">
	<header id="main-header">
		{{>logo}}
		<p class="motto">Sledujeme veškeré dění v&nbsp;oblasti bezpečnostní situace, práce policistů, strážníků, záchranářů, hasičů nebo prostě jen lidí, kteří se nebojí pomoci jiným v nouzi.</p>
		{{>login}}
		{{>featuredArticles}}
	</header>
	{{>nav}}
</template>
