<template name="nav">
<nav id="main-nav">
<ul>
<li><a href="{{pathFor 'newArticles'}}">Hlavní</a></li>
<li><a href="{{pathFor 'archiv'}}">Archiv</a></li>
<li><a href="{{pathFor 'weaponArticles'}}">Zbraně</a></li>
<li><a href="{{pathFor 'redakce'}}">Redakce</a></li>
<li><a href="{{pathFor 'kontakt'}}">Kontakt</a></li>
</ul>
</nav>
</template>

<template name="adminNav">
<nav id="main-nav" class="admin">
<ul>
<li><a href="{{pathFor 'adminArticleList'}}">Editace článků</a></li>
<li><a href="{{pathFor 'adminArticleAdd'}}">Nový článek</a></li>
</ul>
</nav>
</template>