<template name="pf">
<div class="pf">
    <div class="pf-text">
        <p class="bold">Vážení čtenáři,</p>
        <p>dovolte nám zde poděkovat našim hlavním partnerům za obrovskou pomoc, díky níž naše zpravodajství vůbec existuje.</p>
        <p>Vám pak přejeme spokojené, v klidu a bezpečí prožité, láskou a porozuměním naplněné vánoční svátky.</p>
        <p>Do nového roku pak přejeme hodně štěstí, zdraví a bezpečí.</p>
        <p class="pf-signature">redakce Krimi Plzeň</p>
    </div>
    <div class="pf-partners">
        <div class="pf-partners-slider">
            <div class="pf-slider-item">
                <a href="http://www.acwsaloon.cz" target="_blank"><img src="//static.krimi-plzen.cz/partner/pf/acw.jpg"></a>
                <h4>A.C.W. Saloon</h4>
            </div>
            <div class="pf-slider-item">
                <a href="http://www.dajbych.cz" target="_blank"><img src="//static.krimi-plzen.cz/partner/pf/dajbych.jpg"></a>
                <h4>Autosalon Dajbych</h4>
            </div>
            <div class="pf-slider-item">
                <a href="http://www.dsdplus.cz" target="_blank"><img src="//static.krimi-plzen.cz/partner/pf/dsd.jpg"></a>
                <h4>D.S.D. Metal plus</h4>
            </div>
            <div class="pf-slider-item">
                <a href="http://www.sanyguard.cz" target="_blank"><img src="//static.krimi-plzen.cz/partner/pf/sanyguard.jpg"></a>
                <h4>Sany Guard</h4>
            </div>
            <div class="pf-slider-item">
                <a href="http://www.podanaruka.cz" target="_blank"><img src="//static.krimi-plzen.cz/partner/pf/subventio.png"></a>
                <h4>Subventio o.s.</h4>
            </div>
        </div>
    </div>
</div>
</template>
