<template name="recommendedArticles">
<section id="recommended-articles" class="visible">
<h2>Doporučené články</h2>
{{#each articles}}
	<section class="article-slug recommended">
		<a href="{{pathFor 'articleShow'}}">
		<img src="{{#if photo_url}}{{photo_url}}{{else}}https://scontent-a-fra.xx.fbcdn.net/hphotos-xpf1/t1.0-9/10404172_261576800702751_5525022015083078099_n.jpg{{/if}}" class="grow"></a>
    <div class="teaser">
    <a href="{{pathFor 'articleShow'}}">
		<h1>{{title}}</h1>
		</a>
    </div>
	</section>
{{/each}}
</section>
</template>