{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load thumbnail %}

{% block title %}{{title}}{% endblock %}

{% block foot-js %}
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
{% endblock %}


{% block head-meta %}
    {% if tag_slug %}
    <link rel="alternate" type="application/rss+xml" title="Krimi Plzeň – {{title}}" href="/rss/{{tag_slug}}/" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="article-list">
    {% if page == 1 %}
    {% if partners.all %}
    <span class="article-list-partner-slider-label">Partneři, které Vám můžeme doporučit. Děkujeme za podporu.</span>
    <div class="article-list-partner-slider">
        <div class="article-list-partner-slider-inner">
          {% for partner in partners %}
            <a target="_blank" class="article-list-partner-slider-inner-item" href="{{partner.link}}">
                <div class="article-list-partner-slider-inner-item-logo">
                    <img src="//static2.krimi-plzen.cz/media/{{partner.logo}}" />
                </div>
                <div class="article-list-partner-slider-inner-item-text">
                    <h3>{{partner.title}}</h3>
                    <p>{{partner.text}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="article-list-partner-slider-controls">
        {% for partner in partners %}
          <div class="article-list-partner-slider-controls-item"><img src="//static2.krimi-plzen.cz/media/{{partner.logo}}" /></div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}

    {% for article in articles %}
    <div class="article-list-card">
        <div class="article-list-card-image">
            {% if article.stickers.all %}
            <div class="stickers">
                {% for sticker in article.stickers.all %}
                <span class="sticker" style="background-color: #{{sticker.color}}">{{sticker}}</span>
                {% endfor %}
            </div>
            {% endif %}

        {% if article.cover_photo %}
        <a href="/a/{{ article.slug }}/">
            <picture>
                {% thumbnail article.cover_photo "300x150" format="WEBP" crop="center" as im %}
                    <source srcset="{{ im.url }} 300w" media="(max-width: 960px)" type="image/webp">
                {% endthumbnail %}

                {% thumbnail article.cover_photo "300x150" crop="center" as im %}
                    <source srcset="{{ im.url }} 300w" media="(max-width: 960px)" type="image/jpeg">
                {% endthumbnail %}

                {% thumbnail article.cover_photo "180x180" format="WEBP" crop="center" as im %}
                    <source srcset="{{ im.url }} 180w" media="(min-width: 960px)" type="image/webp">
                {% endthumbnail %}

                {% thumbnail article.cover_photo "180x180" crop="center" as im %}
                    <source srcset="{{ im.url }} 180w" media="(min-width: 960px)" type="image/jpeg">
                    <img src="{{ im.url }}" alt="{{ article.title }}">
                {% endthumbnail %}
            </picture>
        </a>
        {% else %}
            <a href="/a/{{ article.slug }}/">{{ article.title }}</a>
        {% endif %}
        </div>
        <div class="article-list-card-text">
            <h2><a href="/a/{{ article.slug }}/">{{ article.title }}</a></h2>
            <p class="meta">
                {% if article.author_name %}
                    <span class="author-name">{{ article.author_name }}</span>
                {% endif %}
                {% if current_year == article.time_created|date:"Y" %}{{ article.time_created|date:"l j. E H:i" }}{% else %}{{ article.time_created|date:"j. E Y H:i" }}{% endif %}{% if article.time_created < article.time_updated %}, aktualizace
            {% now "Y-m-d" as today %}
            {% if today == article.time_updated|date:"Y-m-d" %}
            <span class="with-tooltip" title="{{ article.time_updated }}">{{ article.time_updated|naturaltime }}</span>
            {% else %}
            <span>{{ article.time_updated|date:"l j. E H:i" }}</span>
            {% endif %}
            {% endif %}
            </p>
            {% if article.intro %}
                <p>{{article.intro}}</p>
            {% endif %}
        </div>
    </div>
    {% if forloop.counter == 2 %}
    {% if adverts.article_list_partner_box_middle.all %}
    {% for advert in adverts.article_list_partner_box_middle %}
        <div class="partner-box-main">
            <div class="partner-box-main-content">
                    <a class="partner-box-main-content-link" href="{{advert.link}}" target="_blank">
                        <img src="//static2.krimi-plzen.cz/media/{{advert.image_desktop}}" />
                    </a>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if forloop.counter == 4 %}
    {% if adverts.article_list_partner_box_middle2.all %}
    {% for advert in adverts.article_list_partner_box_middle2 %}
        <div class="partner-box-main">
            <div class="partner-box-main-content">
                <a class="partner-box-main-content-link" href="{{advert.link}}" target="_blank">
                    <img src="//static2.krimi-plzen.cz/media/{{advert.image_desktop}}" />
                </a>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    {% endif %}

    {% if page == 1 %}
    {% if forloop.counter == 7 %}
        {% if year_ago.all %}
            <div class="horiz-cards">
                <h2>Tyto dny před rokem…</h2>
                <div class="horiz-cards-inner">
                {% for article in year_ago %}
                    <a href="/a/{{ article.slug }}" class="horiz-cards-card">
                        <p class="meta">
                            {{ article.time_created|date:"j. E Y" }}
                        </p>
                        <div class="horiz-cards-card-image">
                            <picture>
                                {% thumbnail article.cover_photo "90x90" format="WEBP" crop="center" as im %}
                                    <source srcset="{{ im.url }} 90w" type="image/webp">
                                {% endthumbnail %}

                                {% thumbnail article.cover_photo "90x90" crop="center" as im %}
                                    <source srcset="{{ im.url }} 90w" type="image/jpeg">
                                    <img src="{{ im.url }}" alt="{{ article.title }}">
                                {% endthumbnail %}
                            </picture>
                        </div>
                        <div class="horiz-cards-card-text">
                            {{ article.title }}
                        </div>
                    </a>
                {% endfor %}
            </div>
            </div>
        {% endif %}
    {% endif %}
    {% endif %}

    {% empty %}
        <p>:(</p>
    {% endfor %}
    </div>
        {% if articles.has_next %}
            <div class="article-list-pagination">
            <a name="p"/>
        {% else %}
            <div class="article-list-pagination last-page">
        {% endif %}
        {% if articles.has_previous %}
            <a class="article-list-pagination-link prev" href="?p={{ articles.previous_page_number }}#p">&larr; novější</a>
        {% endif %}

        {% if articles.has_next %}
            <a class="article-list-pagination-link next" href="?p={{ articles.next_page_number }}">starší &rarr;</a>
        {% endif %}
</div>
{% endblock %}
